$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('/images/debut_dark.png');
}

button {
  margin: 10px 0px;
}

img {
  margin-bottom: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.property-card {
  margin: 4px;
}

.property-card span {
  display: inline-block;
  width: 200px;
  text-align: right;
  font-size: 1.6em;
  margin-right: 10px;
}

#details {
  margin-top: 30px;
}

#details ul {
  list-style-type: none;
  margin: 0;
}

#details ul li span.details-value {
  font-weight: bold;
  margin: 10px;
}

.country-search input.input-lg {
  font-size: 1.6em;
}

.country-search button.btn {
  padding: 6px 28px;
  font-size: 1.6em;
}

#map {
  width: 314px;
  height: 350px;
  background-image: url("/images/zombie-paul-morphy.jpg");
}

#map h4 {
  text-align: center;
  font-weight: bold;
  color: #aaa;
  font-size: 2.1em;
  margin-top: 150px;
}

.country-card {
  border: solid 1px #ccc;
  margin: 8px 0 8px 0;
  background-color: white;
}

.country-card SPAN {
  display: inline-block;
}

.country-card .code {
  width: 58px;
  font-size: 1.4em;
  text-align: center;
  padding: 7px;
  background-color: #eee;
  margin: 5px;
  vertical-align: top;
}

.country-card .details {
}

.country-card .details SPAN {
  display: block;
  width: 192px;
  font-style: italic;
  font-size: .8em;
}

.country-card .details SPAN.name {
  font-weight: bold;
  font-size: 1.2em;
  font-style: normal;
}

.country-card .map-it-button {
  vertical-align: top;
  margin: 5px 0 4px 0;
}
